<form
  action="<%= `${process.env.API_HOST}:${process.env.PORT}` %>/users/"
  method="post"
>
  <label for="login">Login: </label>
  <input type="text" id="login" required name="username" />

  <label for="email">Email: </label>
  <input type="email" id="email" required name="email" />

  <button type="submit">Add User</button>
</form>
