<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <a href="http://localhost:3000/auth/register">register</a>

    <%- include('./partials/loginForm.ejs') %>
  </body>
</html>
